<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thoth</title>
	<!-- Tailwind -->
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	<!-- Alpine -->
	<script type="module" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
	<script nomodule src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine-ie11.min.js" defer></script>
	<!-- AOS -->
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<!-- Custom style -->
	<link rel="stylesheet" href="css/app.css" />
	<!-- Poppins font -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>
<body class="antialiased font-sans">
    <div>
        {% from '_mycomponents.html' import sidebarComponent %}

        <div class="flex h-screen overflow-y-hidden bg-white" x-data="setup()" x-init="$refs.loading.classList.add('hidden')">
        <!-- Loading screen -->
        <div
            x-ref="loading"
            class="fixed inset-0 z-50 flex items-center justify-center text-white bg-black bg-opacity-50"
            style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)"
        >
            Loading.....
        </div>

        <!-- Sidebar backdrop -->
        <div
            x-show.in.out.opacity="isSidebarOpen"
            class="fixed inset-0 z-10 bg-black bg-opacity-20 lg:hidden"
            style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)"
        ></div>

        {{sidebarComponent()}}

        <div class="flex flex-col flex-1 h-full overflow-hidden">
            <!-- Navbar -->
            <header class="flex-shrink-0 border-b">
            <div class="flex items-center justify-between p-2">
                <!-- Navbar left -->
                <div class="flex items-center space-x-3">
                <span class="p-2 text-xl font-semibold tracking-wider uppercase lg:hidden">Thoth</span>
                <!-- Toggle sidebar button -->
                <button @click="toggleSidbarMenu()" class="p-2 rounded-md focus:outline-none focus:ring">
                    <svg
                    class="w-4 h-4 text-gray-600"
                    :class="{'transform transition-transform -rotate-180': isSidebarOpen}"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                    </svg>
                </button>
                </div>

                <!-- Mobile search box -->
                <div
                x-show.transition="isSearchBoxOpen"
                class="fixed inset-0 z-10 bg-black bg-opacity-20"
                style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)"
                >
                <div
                    @click.away="isSearchBoxOpen = false"
                    class="absolute inset-x-0 flex items-center justify-between p-2 bg-white shadow-md"
                >
                    <div class="flex items-center flex-1 px-2 space-x-2">
                    <!-- search icon -->
                    <span>
                        <svg
                        class="w-6 h-6 text-gray-500"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                        />
                        </svg>
                    </span>
                    <input
                        type="text"
                        placeholder="Search"
                        class="w-full px-4 py-3 text-gray-600 rounded-md focus:bg-gray-100 focus:outline-none"
                    />
                    </div>
                    <!-- close button -->
                    <button @click="isSearchBoxOpen = false" class="flex-shrink-0 p-4 rounded-md">
                    <svg
                        class="w-4 h-4 text-gray-500"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    </button>
                </div>
                </div>

                <!-- Navbar right -->
                <div class="relative flex items-center space-x-3">
                <!-- Search button -->
                <button
                    @click="isSearchBoxOpen = true"
                    class="p-2 bg-gray-100 rounded-full md:hidden focus:outline-none focus:ring hover:bg-gray-200"
                >
                    <svg
                    class="w-6 h-6 text-gray-500"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                    />
                    </svg>
                </button>


                <!-- avatar button -->
                <div class="relative" x-data="{ isOpen: false }">
                    <button @click="isOpen = !isOpen" class="p-1 bg-gray-200 rounded-full focus:outline-none focus:ring">
                    <img
                        class="object-cover w-8 h-8 rounded-full"
                        src="https://avatars0.githubusercontent.com/u/57622665?s=460&u=8f581f4c4acd4c18c33a87b3e6476112325e8b38&v=4"
                        alt="Ahmed Kamel"
                    />
                    </button>
                    <!-- green dot -->
                    <div class="absolute right-0 p-1 bg-green-400 rounded-full bottom-3 animate-ping"></div>
                    <div class="absolute right-0 p-1 bg-green-400 border border-white rounded-full bottom-3"></div>

                    <!-- Dropdown card -->
                    <div
                    @click.away="isOpen = false"
                    x-show.transition.opacity="isOpen"
                    class="absolute mt-3 transform -translate-x-full bg-white rounded-md shadow-lg min-w-max"
                    >
                    <div class="flex flex-col p-4 space-y-1 font-medium border-b">
                        <span class="text-gray-800">{{current_user.first_name}}</span>
                        <span class="text-sm text-gray-400">{{current_user.email}}</span>
                    </div>
                    <div class="flex items-center justify-center p-4 text-blue-700 underline border-t">
                        <a href="/logout">Logout</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </header>
            <!-- Main content -->
            <main class="flex-1 max-h-full p-5 overflow-hidden overflow-y-scroll">
                <div class="container mx-auto grid grid-cols-1 pt-6 gap-8">
                    <div class="grid grid-cols-1">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="flex bg-{{category}}-100 rounded-lg p-4 mb-4 text-sm text-{{category}}-700" role="alert">
                                        <svg class="w-5 h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                                        <div>
                                            <span class="font-medium">{{ message }}!</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <div class="mt-2">
                            <nav class="flex flex-col sm:flex-row">
                                <a class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none text-blue-500 border-b-2 font-medium border-blue-500">
                                    Questões
                                </a>
                                <a class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none" href="/artes-videos">
                                    Vídeos
                                </a>
                            </nav>
                            <h3 class="mt-6 text-xl font-bold mb-10">Questões de Artes</h3>
                                <form name="form" method="POST" action="/artes-tasks" />
                                    {% for question in questions %}
                                        <div class="grid grid-cols-1 shadow border rounded-ms px-5 py-6 w-full mb-6">
                                            <div class="font-medium mb-6">
                                                {{question.question}}  
                                            </div>
                                            <div class="grid grid-cols-1">
                                                {% for option in question.options %}
                                                    <div class="flex mb-4">
                                                        <input id="country-option-{{option.alternative}}" type="radio" name="questions" value="{{option.alternative}}" class="h-4 w-4 border-gray-300 focus:ring-2 focus:ring-blue-300" aria-labelledby="country-option-{{option.alternative}}" aria-describedby="country-option-{{option.alternative}} ">
                                                        <label for="country-option-{{option.alternative}}" class="text-sm font-normal text-gray-900 ml-4 block">
                                                            {{option.text}} 
                                                        </label>
                                                    </div>
                                                {% endfor %}  
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% if is_correct == True %}
                                        <div class="font-semibold text-green-800 text-lg mb-4">Você acertou! Resposta correta: {{text}} </div>
                                        <button type="submit" disabled class="px-4 py-2 bg-blue-500 outline-none rounded text-white shadow-blue-200 shadow-lg font-medium active:shadow-none active:scale-95 hover:bg-blue-600 focus:bg-blue-600 focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed transition-colors duration-200"> Responder </button>
                                    {% elif is_correct == False %}
                                        <div class="font-semibold text-red-800 text-lg mb-4">Você errou! <p class="text-gray-800">Resposta correta: {{text}}</p></div>
                                        <button type="submit" disabled class="px-4 py-2 bg-blue-500 outline-none rounded text-white shadow-blue-200 shadow-lg font-medium active:shadow-none active:scale-95 hover:bg-blue-600 focus:bg-blue-600 focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed transition-colors duration-200"> Responder </button>
                                    {% else %}
                                        <button type="submit" class="px-4 py-2 bg-blue-500 outline-none rounded text-white shadow-blue-200 shadow-lg font-medium active:shadow-none active:scale-95 hover:bg-blue-600 focus:bg-blue-600 focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed transition-colors duration-200"> Responder </button>
                                    {% endif %}
                                </form>
                        </div>
                        

                    </div>
                    

                </div>
            </main>
            
        </div>


        </div>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
        <script>
        const setup = () => {
            return {
            loading: true,
            isSidebarOpen: false,
            toggleSidbarMenu() {
                this.isSidebarOpen = !this.isSidebarOpen
            },
            isSettingsPanelOpen: false,
            isSearchBoxOpen: false,
            }
        }
        </script>
    </div>
</body>


