<!DOCTYPE html>


<html lang="pt-br">

    <head>
        <title>Thoth - Learning</title>
        <meta charset="utf-8">
        <meta name="author" content="Matheus Gongo">
        <meta name="description" content="Site de produtos de beleza">
        <meta name="keywords" content="">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
        <link rel="stylesheet" href="app.css">
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </head>

        <body>


            <div class="bg-white relative min-h-screen antialiased">
                <div class="mx-auto max-w-7xl px-6" x-data="getData()">
                    <!-- modal starts -->

                    <div x-show.transition="status || isError" style="background-color: rgb(0,0,0, .5)" class="mx-auto absolute top-0 left-0 w-full h-full flex items-center shadow-lg overflow-y-auto">
                        <div class="container mx-auto rounded p-4 mt-2 overflow-y-auto">
                            <div class="bg-white rounded px-8 py-8 max-w-lg mx-auto">
                                <h1 class="font-bold text-2xl mb-3 text-center" x-text="modalHeaderText"></h1>
                                <div :class="{'text-green-700': status, 'text-red-700': isError}"
                                    class="modal-body text-center">
                                    <p x-text="modalBodyText"></p>
                                </div>
                                <div class="mt-4">
                                    <button @click="location.reload()" class="mt-3 text-lg font-semibold bg-gray-800 w-full 
                            text-white rounded-lg px-6 py-3 block shadow-xl 
                            hover:text-white hover:bg-black">
                                        Fechar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div x-show="showAlert" class="block text-sm text-red-600 bg-red-200 border border-red-400 h-12 mt-10 flex items-center p-4 rounded-sm relative">
                        <strong class="mr-1">Preencha todos os campos obrigatórios!</strong> Por favor, verifique os campos para prosseguir em seu cadastro.
                        <button type="button" @click="showAlert = false">
                            <span class="absolute top-0 bottom-0 right-0 text-2xl px-3 py-1 hover:text-red-900">x</span>
                        </button>
                      </div>
                    <!-- modal ends -->

                    <!-- form container starts -->
                    <div x-show="!status && !isError" class="relative h-screen flex flex-wrap items-center">
                        <div class="w-full relative">

                            <div class="">
                                <div class="xl:w-full border-b border-gray-300 dark:border-gray-700 py-5 bg-white dark:bg-gray-800">
                                    <div class="flex w-11/12 mx-auto xl:w-full xl:mx-0 items-center">
                                        <p class="text-lg text-gray-800 dark:text-gray-100 font-bold">Formulário de cadastro</p>
                                        <div class="ml-2 cursor-pointer text-gray-600 dark:text-gray-400">
                                            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4.svg" alt="info">
                                            <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg4dark.svg" alt="info">
                                        </div>
                                    </div>
                                </div>
                                <!-- registration form starts-->

                                <form name="form" method="post" action="http://127.0.0.1:5000/register" class="my-6">
                                    <div class="my-6 w-11/12 mx-auto xl:mx-0">
                                        <div class="font-bold mb-1 text-gray-700 block mt-10">Informações pessoais</div>

                                        <div class="rounded relative mt-8 mb-24 h-48">
                                            <img :src="bg" id="bg" alt="" class="w-full h-full object-cover rounded absolute shadow" />
                                            <div class="absolute bg-black opacity-50 top-0 right-0 bottom-0 left-0 rounded"></div>
                                            <div class="flex items-center px-3 py-2 rounded absolute right-0 mr-4 mt-4 cursor-pointer">
                                                <label 
                                                    for="fileBg"
                                                    type="button" class="cursor-pointer text-xs flex items-center text-gray-100">
                                                    Mudar foto da capa
                                                    <div class="ml-2 text-gray-100">
                                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/simple_form-svg1.svg" alt="Edit">
                                                    </div>						
                                                </label>

                                                <input name="photobg" id="fileBg" accept="image/*" class="hidden" type="file" @change="let file = document.getElementById('fileBg').files[0]; 
                                                    var reader = new FileReader();
                                                    reader.onload = (e) => bg = e.target.result;
                                                    reader.readAsDataURL(file);">
                                             
                                            </div>


                                            <div class="w-20 h-20 rounded-full bg-cover bg-center bg-no-repeat absolute bottom-0 -mb-10 ml-12 shadow flex items-center justify-center">
                                                
                                                <div class="cursor-pointer flex flex-col justify-center items-center z-10 text-gray-100">
                                                    
                                                    <img id="image" class="cursor-pointer absolute z-0 h-full w-full object-cover rounded-full shadow top-0 left-0 bottom-0 right-0" :src="image" />

                    
                    
                                                    <input name="photo" id="fileInput" accept="image/*" class="hidden" type="file" @change="let file = document.getElementById('fileInput').files[0]; 
                                                    var reader = new FileReader();
                                                    reader.onload = (e) => image = e.target.result;
                                                    reader.readAsDataURL(file);">   

                                                    <div class="absolute bg-black opacity-50 top-0 right-0 bottom-0 left-0 rounded-full z-0"></div>
                                                    <div class="cursor-pointer flex flex-col justify-center items-center z-10 text-gray-100">
                                                        <label 
                                                            for="fileInput"
                                                            type="button" class="cursor-pointer text-xs text-center text-gray-100"><svg xmlns="http://www.w3.org/2000/svg" class="inline-flex flex-shrink-0 w-6 h-6 -mt-1 mr-1" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                                                                <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                                                                <circle cx="12" cy="13" r="3" />
                                                            </svg>						
                                                        </label>
                                                    </div> 

                                                </div>

                                                
                                            </div>
                                        </div>

                                        <div class="flex flex-wrap space-x-4 mt-6">
                                            <div class="w-1/3 flex flex-col mb-6">
                                                <span class="px-1 text-sm text-gray-600">Nome*</span>
                                                <input placeholder="Digite o seu nome" type="text" name="first_name" x-model="formData.nome" :class="{'border-green-400': isNome(formData.nome) && formData.nome.length > 0, 'border-red-400': !isNome(formData.nome) && formData.nome.length > 0}" class="text-md block px-3 py-2 rounded-lg w-full bg-white  placeholder-gray-400 shadow-md focus:placeholder-gray-300 focus:bg-white border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-200">
                                            </div>
                                            <div class="w-1/3 flex flex-col mb-6">
                                                <span class="px-1 text-sm text-gray-600">Sobrenome*</span>
                                                <input placeholder="Digite o seu sobrenome" type="text" name="last_name" x-model="formData.sobrenome" :class="{'border-green-400': isSobrenome(formData.sobrenome) && formData.sobrenome.length > 0, 'border-red-400': !isSobrenome(formData.sobrenome) && formData.sobrenome.length > 0}" class="text-md block px-3 py-2 rounded-lg w-full bg-white placeholder-gray-400 shadow-md focus:placeholder-gray-300 focus:bg-white border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-200">
                                                
                                            </div>
                                            <div class="w-1/4 flex flex-col mb-6">
                                                <span class="px-1 text-sm text-gray-600">CPF*</span>
                                                <input pattern="[0-9]+" maxlength="11" placeholder="Digite o seu CPF" name="cpf" type="text" x-model="formData.cpf" :class="{'border-green-400': isCPF(formData.cpf) && formData.cpf.length > 0, 'border-red-400': !isCPF(formData.cpf) && formData.cpf.length > 0}" class="text-md block px-3 py-2 rounded-lg w-full bg-white placeholder-gray-400 shadow-md focus:placeholder-gray-300 focus:bg-white border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-200">
                                                <li x-show="formData.cpf.length > 0" class="flex items-center py-1">
                                                    <div :class="{'bg-green-200 text-green-700': isCPF(formData.cpf),'bg-red-200 text-red-700': !isCPF(formData.cpf)}" class=" rounded-full p-1 fill-current ">
                                                        <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                                                            stroke="currentColor">
                                                            <path x-show="isCPF(formData.cpf)" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                                            <path x-show="!isCPF(formData.cpf)" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2"
                                                                d="M6 18L18 6M6 6l12 12" />
                                                        </svg>
                                                    </div>
                                                    <span :class="{'text-green-700': isCPF(formData.cpf), 'text-red-700': !isCPF(formData.cpf)}" class="font-medium text-sm ml-3" x-text="isCPF(formData.cpf) ? 'CPF válido' : 'Digite um CPF válido' "></span>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="flex flex-wrap space-x-4">
                                            <div class="w-1/2 flex flex-col mb-6">
                                                <span class="px-1 text-sm text-gray-600">Email*</span>
                                                <input placeholder="Digite o seu email" type="text" name="email" x-model="formData.email" :class="{'border-green-400': isEmail(formData.email) && formData.email.length > 0, 'border-red-400': !isEmail(formData.email) && formData.email.length > 0}" class="text-md block px-3 py-2 rounded-lg w-full bg-white placeholder-gray-400 shadow-md focus:placeholder-gray-300 focus:bg-white border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-200">
                                                <li x-show="formData.email.length > 0" class="flex items-center py-1">
                                                    <div :class="{'bg-green-200 text-green-700': isEmail(formData.email),'bg-red-200 text-red-700': !isEmail(formData.email)}" class=" rounded-full p-1 fill-current ">
                                                        <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                                                            stroke="currentColor">
                                                            <path x-show="isEmail(formData.email)" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                                            <path x-show="!isEmail(formData.email)" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2"
                                                                d="M6 18L18 6M6 6l12 12" />
                                                        </svg>
                                                    </div>
                                                    <span :class="{'text-green-700': isEmail(formData.email), 'text-red-700': !isEmail(formData.email)}" class="font-medium text-sm ml-3" x-text="isEmail(formData.email) ? 'Email válido' : 'Email não é válido!' "></span>
                                                </li>
                                            
                                            </div>
                                        </div>


                                        <div class="font-bold mb-1 text-gray-700 block mt-10">Informações de endereço</div>
                                        <div class="flex flex-wrap space-x-4 mt-6">
                                            <div class="w-1/4 flex flex-col mb-6">
                                                <span class="px-1 text-sm text-gray-600">CEP*</span>
                                                <input pattern="\d*" maxlength="9" placeholder="Digite o seu CEP" name="cep" type="text" id="cep" x-model="formData.cep" :class="{'border-green-400': isCEP(formData.cep) && formData.cep.length > 0, 'border-red-400': !isCEP(formData.cep) && formData.cep.length > 0}" class="text-md block px-3 py-2 rounded-lg w-full bg-white placeholder-gray-400 shadow-md focus:placeholder-gray-300 focus:bg-white border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-200">
                                                <li x-show="formData.cep.length > 0" class="flex items-center py-1">
                                                    <div :class="{'bg-green-200 text-green-700': isCEP(formData.cep),'bg-red-200 text-red-700': !isCEP(formData.cep)}" class=" rounded-full p-1 fill-current ">
                                                        <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                                                            stroke="currentColor">
                                                            <path x-show="isCEP(formData.cep)" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                                            <path x-show="!isCEP(formData.cep)" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2"
                                                                d="M6 18L18 6M6 6l12 12" />
                                                        </svg>
                                                    </div>
                                                    <span :class="{'text-green-700': isCEP(formData.cep), 'text-red-700': !isCEP(formData.cep)}" class="font-medium text-sm ml-3" x-text="isCEP(formData.cep) ? 'CEP válido' : 'Digite um CEP válido' "></span>
                                                </li>
                                            </div>
                                            <div class="w-1/8 flex flex-col mb-6">
                                                <span class="px-1 text-sm text-gray-600">Rua</span>
                                                <input placeholder="" type="text" id="rua" x-model="formData.rua" class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white  focus:outline-none border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-200">
                                            </div>
                                            <div class="w-1/4 flex flex-col mb-6">
                                                <span class="px-1 text-sm text-gray-600">Bairro</span>
                                                <input placeholder="" type="text" id="bairro" x-model="formData.bairro" class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white  focus:outline-none border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-200">
                                            </div>
                                            <div class="w-1/6 flex flex-col mb-6">
                                                <span class="px-1 text-sm text-gray-600">Cidade</span>
                                                <input placeholder="" type="text" id="cidade" x-model="formData.cidade" class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white  focus:outline-none border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-200 ">
                                            </div>
                                            <div class="w-1/12 flex flex-col mb-6">
                                                <span class="px-1 text-sm text-gray-600">Estado</span>
                                                <input placeholder="" type="text" id="uf" x-model="formData.uf" class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:outline-none border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-200">
                                            </div>
                                        </div>


                                        <label for="password" class="font-bold mb-1 text-gray-700 block mt-10">Configurar senha</label>
                                        <div class="text-gray-600 mt-2 my-4">
                                            Crie uma senha segura, incluindo os seguintes critérios abaixo.

                                            <ul class="list-disc text-sm ml-4 mt-2">
                                                <li>letras minúsculas</li>
                                                <li>números</li>
                                                <li>letras maiúsculas</li>
                                                <li>caracteres especiais</li>
                                            </ul>	
                                        </div>
                                        <div class="relative">
                                            <input
                                                    :type="togglePassword ? 'text' : 'password'"
                                                    @keydown="checkPasswordStrength()"
                                                    name="password"
                                                    x-model="formData.password"
                                                    class="w-full px-4 py-3 rounded-lg shadow-md focus:outline-none focus:shadow-outline text-gray-600 font-medium border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-200"
                                                    placeholder="Digite a sua senha..."
                                                    >

                                                <div class="absolute right-0 bottom-0 top-0 px-3 py-3 cursor-pointer" 
                                                    @click="togglePassword = !togglePassword"
                                                >	
                                                    <svg :class="{'hidden': !togglePassword, 'block': togglePassword }" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current text-gray-500" viewBox="0 0 24 24"><path d="M12 19c.946 0 1.81-.103 2.598-.281l-1.757-1.757C12.568 16.983 12.291 17 12 17c-5.351 0-7.424-3.846-7.926-5 .204-.47.674-1.381 1.508-2.297L4.184 8.305c-1.538 1.667-2.121 3.346-2.132 3.379-.069.205-.069.428 0 .633C2.073 12.383 4.367 19 12 19zM12 5c-1.837 0-3.346.396-4.604.981L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.319-3.319c2.614-1.951 3.547-4.615 3.561-4.657.069-.205.069-.428 0-.633C21.927 11.617 19.633 5 12 5zM16.972 15.558l-2.28-2.28C14.882 12.888 15 12.459 15 12c0-1.641-1.359-3-3-3-.459 0-.888.118-1.277.309L8.915 7.501C9.796 7.193 10.814 7 12 7c5.351 0 7.424 3.846 7.926 5C19.624 12.692 18.76 14.342 16.972 15.558z"/></svg>

                                                    <svg :class="{'hidden': togglePassword, 'block': !togglePassword }" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current text-gray-500" viewBox="0 0 24 24"><path d="M12,9c-1.642,0-3,1.359-3,3c0,1.642,1.358,3,3,3c1.641,0,3-1.358,3-3C15,10.359,13.641,9,12,9z"/><path d="M12,5c-7.633,0-9.927,6.617-9.948,6.684L1.946,12l0.105,0.316C2.073,12.383,4.367,19,12,19s9.927-6.617,9.948-6.684 L22.054,12l-0.105-0.316C21.927,11.617,19.633,5,12,5z M12,17c-5.351,0-7.424-3.846-7.926-5C4.578,10.842,6.652,7,12,7 c5.351,0,7.424,3.846,7.926,5C19.422,13.158,17.348,17,12,17z"/></svg>
                                                </div>
                                        </div>


                                        <div class="flex items-center mt-4 h-3 mb-10">
                                            <div class="w-2/3 flex justify-between h-2">	
                                                <div :class="{ 'bg-red-400': passwordStrengthText == 'Senha fraca' ||  passwordStrengthText == 'Poderia ser mais forte' || passwordStrengthText == 'Senha forte' }" class="h-2 rounded-full mr-1 w-1/3 bg-gray-300"></div>
                                                <div :class="{ 'bg-orange-400': passwordStrengthText == 'Poderia ser mais forte' || passwordStrengthText == 'Senha forte' }" class="h-2 rounded-full mr-1 w-1/3 bg-gray-300"></div>
                                                <div :class="{ 'bg-green-400': passwordStrengthText == 'Senha forte' }" class="h-2 rounded-full w-1/3 bg-gray-300"></div>
                                            </div>
                                            <div x-text="passwordStrengthText" class="text-gray-500 font-medium text-sm ml-3 leading-none"></div>
                                        </div>

                                        <button type="submit" value="submit" class="mt-3 text-lg font-semibold bg-indigo-600 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-indigo-800">Finalizar</button>
                                    </div>
                                </form>
                                <!-- registration form ends -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- form container ends -->

            </div>
            <!-- body end -->

            
        </body>
</html>
